# Export all names from PBSplankton
# exportPattern(".")

exportPattern("^[^\\.]")
exportPattern("^\\.PBS")

# Packages declared in the 'Depends' field should not also be in the 'Imports' field (I guess in DESCRIPTION file only) (from R-exts.pdf).
import(
  PBStools, numDeriv
)

# writeLines(imports_for_undefined_globals(txt))
importFrom("grDevices", "colorRamp", "dev.cur", "dev.list", "dev.off", "extendrange", "rgb")
importFrom("graphics", "abline", "axis", "barplot", "box", "boxplot",
           "legend", "lines", "mtext", "par", "plot", "points",
           "polygon", "text")
importFrom("stats", "integrate", "loess", "lowess", "median", "predict")

